/* Global */
:root {
  --font-base: "Fira Code", "Courier New", monospace;
  --focus-thickness: 0.1rem;
  --focus-blur: calc(2 * var(--focus-thickness));
  --gutter-width: 1rem;
  --gutter-height: 2rem;
  --hr-gutter: 0.5rem;
  --hr-thickness: 0.1rem;
  --checkbox-width: 1.8rem;
  --checkbox-gutter: 0.5rem;
  --blockquote-indent: 1rem;
  --blockquote-top-gutter: 0.8rem;
  --blockquote-thickness: 0.5rem;
  --dropcap-margin-top: 0.15rem;
  --dropcap-margin-right: 0.1rem;
  --dropcap-padding: 0.1rem;
  --dropcap-size: 330%;
  --details-border-thickness: 0.1rem;
  --details-gutter: 0.3rem;
  --details-open-time: 0.07s;
  --section-gutter: 0.5rem;
  --section-separator: 0.1rem;
  --img-border-thickness: 0.1rem;
  --console-max-width: 41rem;
  --console-border-thickness: 0.2rem;
  --nav-border-thickness: 0.1rem;
  --nav-gutter-width: 0.3rem;
  --nav-gutter-height: 0.2rem;
  --nav-gap: 1rem;
  --main-padding: 0.5rem;
  --interview-indent: 3rem;
  --body-img-width: 75%;
  --body-img-gutter: 1rem;
  --typed-steps: 9;
  --typed-width: 9ch;
  --type-time: 1.5s;
  --blink-time: 0.5s;
  --map-width: 60rem;
  --map-thickness: 0.1rem;
  --map-zoom-time: 0.2s;
  --map-color: #008000;
  --link-arrow-size: 0.4rem;
  --link-arrow-thickness: 0.1rem;
  --link-arrow-scale: 1.5;
  --link-arrow-scale-time: 0.1s;
  --link-arrow-scale-thickness: calc(var(--link-arrow-thickness) / var(--link-arrow-scale));
  --gallery-gap: 1rem;
  --gallery-aspect-ratio: 1.5;
  --gallery-max-height-pct: 70vh;
  --gallery-ideal-height: calc(min(var(--console-max-width), 100vw) / var(--gallery-aspect-ratio));
  --gallery-max-height: min(var(--gallery-ideal-height), var(--gallery-max-height-pct));
  --pub-gap: 1rem;
  --file-height: 1.4rem;
  --file-width: 2ch;
  --file-border-thickness: 0.07rem;
  --music-player-margin: 0.2rem;
  --music-border-thickness: 0.1rem;
  --project-thumb-gap: 1rem;
  --project-thumb-size: 50%;
  --project-caption-size: 45%;
  --black: #000000;
  --red: #ff0000;
  --darkred: #870000;
  --blue: #0087ff;
  --darkblue: #00005f;
  --green: #00ff5f;
  --darkgreen: #005f00;
  --grey: #ffffff;
  --darkgrey: #121212;
  --yellow: #ffff00;
  --purple: #af87ff;
  --darkpurple: #5f005f;
  --pink: #ff87ff;
  --palepink: #ffd7ff;
  --darkpink: #d700ff;
  --teal: #00ffff;
  --ice: #afffff;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
  box-sizing: border-box;
  text-size-adjust: none;
}

/* General */
::selection {
  background-color: var(--darkblue);
}

* {
  font-family: var(--font-base);
  scrollbar-color: var(--ice) var(--darkgrey);
}

body {
  background-color: var(--black);
  color: var(--ice);
  min-height: 100vh;
  padding: var(--gutter-height) var(--gutter-width);
}

@media only screen and (max-width: 400px) {
  body {
    padding: 0;
  }
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: 0;
  box-shadow: 0 0 var(--focus-blur) var(--focus-thickness) var(--darkpink);
  box-decoration-break: clone;
}

a {
  color: var(--teal);
  text-decoration: none;
}

a:hover,
a:focus-visible {
  background-color: var(--darkblue);
}

h1::before {
  content: "#";
  padding-right: 1ch;
}

h2::before {
  content: "##";
  padding-right: 1ch;
}

h3::before {
  content: "###";
  padding-right: 1ch;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

rt {
  font-size: small;
}

li {
  list-style: none;
}

ul li {
  position: relative;
  /* Indent the whole list item */
  margin-left: 2ch;
}

ul li::before {
  content: "-";
  position: relative;
  /* Compensate for the list indentation */
  left: -2ch;
  margin-right: -2ch;
  padding-right: 1ch;
}

ul li[data-icon]::before {
  content: attr(data-icon);
}

hr {
  height: 0.5ch;
  width: 100%;
  margin: var(--hr-gutter) 0;
  border: var(--hr-thickness) solid var(--green);
  border-left: 0;
  border-right: 0;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  color: inherit;
  width: var(--checkbox-width);
  padding-right: calc(var(--checkbox-width) + var(--checkbox-gutter));
}

input[type="checkbox"]::before {
  content: "[\a0]";
}

input[type="checkbox"]:checked::before {
  content: "[x]";
}

blockquote {
  padding-top: var(--blockquote-top-gutter);
  padding-left: var(--blockquote-indent);
  border-left: var(--blue) solid var(--blockquote-thickness);
}

blockquote p:first-of-type::first-letter {
  float: left;
  margin: var(--dropcap-margin-top) var(--dropcap-margin-right) 0 0;
  padding: var(--dropcap-padding) 0;
  font-size: var(--dropcap-size);
  font-weight: bold;
  line-height: 1;
  color: var(--black);
  background-color: var(--ice);
}

details {
  border: var(--details-border-thickness) solid var(--purple);
  border-right: 0;
  border-top: 0;
  padding-left: var(--details-gutter);
}

details[open] {
  padding-bottom: var(--details-gutter);
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

summary::before {
  content: ">";
  display: inline-block;
  padding-right: 1ch;
  transform-origin: 0.5ch center;
}

@media (prefers-reduced-motion: no-preference) {
  summary::before {
    transition: transform var(--details-open-time) ease-in;
  }
}

details[open] > summary::before {
  transform: rotate(90deg);
}

section {
  margin-top: var(--section-gutter);
}

section:not(:last-of-type) {
  margin-bottom: var(--section-gutter);
  padding-bottom: var(--section-gutter);
  border-bottom: var(--section-separator) solid var(--green);
}

section.no-border {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

img {
  border: var(--img-border-thickness) solid var(--darkgreen);
}

/* Console */
.console {
  max-width: var(--console-max-width);
  margin: 0 auto;
  border: var(--console-border-thickness) double var(--green);
}

/* Navigation */
header {
  width: 100%;
  border-bottom: var(--nav-border-thickness) solid var(--green);
  display: grid;
  grid-template-columns: max-content auto;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: 0 var(--nav-gap);
}

nav a {
  padding: var(--nav-gutter-height) var(--nav-gutter-width);
}

nav a[aria-current] {
  background-color: var(--darkblue);
  font-weight: bold;
}

.typed {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: var(--nav-gutter-height) var(--nav-gutter-width);
  background-color: var(--darkblue);
  color: var(--yellow);
  border-right: var(--nav-border-thickness) solid var(--green);
}

@media (prefers-reduced-motion: no-preference) {
  .typed span::after {
    content: "\a0";
    display: inline-block;
    width: 1ch;
    background-color: var(--ice);
    animation:
      typing-cursor var(--type-time) steps(var(--typed-steps)),
      blink var(--blink-time) step-end var(--type-time) infinite alternate;
  }

  .typed span {
    animation: typing var(--type-time) steps(var(--typed-steps));
  }

  @keyframes typing {
    0% { clip-path: inset(0 var(--typed-width) 0 0); }
    100% { clip-path: inset(0); }
  }

  @keyframes typing-cursor {
    0% { transform: translateX(calc(-1 * var(--typed-width))); }
  }

  @keyframes blink {
    50% { opacity: 0; }
  }
}

/* Body */
main {
  padding: var(--main-padding);
}

main a {
  padding-right: var(--link-arrow-size);
}

main a::after {
  content: "";
  display: inline-block;
  /* NOTE: this is fine even though the parent isn't positioned as long as it
   * doesn't use `top`, `left`, etc. The positioning here is just to remove it
   * from the normal flow. */
  position: absolute;
  width: var(--link-arrow-size);
  height: var(--link-arrow-size);
  border-top: var(--link-arrow-thickness) solid currentcolor;
  border-right: var(--link-arrow-thickness) solid currentcolor;
}

@media (prefers-reduced-motion: no-preference) {
  main a::after {
    transition: transform var(--link-arrow-scale-time) ease-in-out;
    transform-origin: right top;
  }

  main a:is(:hover, :focus-visible)::after {
    --link-arrow-thickness: var(--link-arrow-scale-thickness);

    transform: scale(var(--link-arrow-scale));
  }
}

main a:visited {
  color: var(--palepink);
}

main a[href^="/assets/photos"] {
  padding-right: 0;
}

main a[href^="/assets/photos"]::after {
  content: none;
}

main a[href^="/assets/photos"]:hover::after {
  content: none;
}

a[href^="/assets/photos"]:is(:hover,:focus-visible) {
  background-color: inherit;
}

.interview dd {
  padding-left: var(--interview-indent);
}

.note {
  font-size: small;
}

.body-img {
  width: var(--body-img-width);
  margin: var(--body-img-gutter) auto;
}

.body-img img {
  max-width: 100%;
}

.body-img figcaption {
  text-align: center;
}

/* Map */
.map {
  overflow-x: scroll;
  position: relative;
}

.map figcaption {
  position: sticky;
  left: 0;
}

.map svg {
  min-width: var(--map-width);
}

@media (prefers-reduced-motion: no-preference) {
  .map svg {
    transition: min-width var(--map-zoom-time) ease-in;
  }
}

.map path {
  stroke: var(--map-color);
  stroke-width: var(--map-thickness);
  fill: transparent;
}

.map path.active {
  fill: var(--teal);
}

.map a:is(:hover, :focus-visible) path.active {
  fill: var(--darkblue);
}

#map-zoom:checked ~ .map svg {
  /* NOTE: Can't get scale(2) to expand the console vertically */
  min-width: calc(2 * var(--map-width));
}

#map-zoom ~ label {
  cursor: pointer;
}

/* Gallery */
.gallery {
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery figure {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; /* Horizontal gap between picture and caption */
  align-items: center; /* Vertical alignment along horizontal axis */
  align-content: center; /* Vertical gap between picture and caption */
  gap: var(--gallery-gap);
  scroll-snap-align: start;
}

.gallery img {
  max-width: 100%;
  max-height: var(--gallery-max-height);
}

/* Publications */
.pub {
  margin: 0 0 var(--pub-gap);
}

.pub:last-of-type {
  margin-bottom: 0;
}

.pub-author {
  display: inline;
}

.pub-authors .pub-author:not(:last-child)::after {
  content: ",";
  padding-right: 1ch;
}

.pub-author[data-name="Wolf Honoré"] {
  font-weight: bold;
  color: var(--pink);
}

.pub-media li[data-type] {
  position: relative;
  line-height: 1.6;
}

.pub-media li[data-type]::before {
  content: "";
  display: inline-block;
  width: var(--file-width);
  height: var(--file-height);
  background-color: var(--darkblue);
  padding-left: 0.5ch;
  clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 0% 100%);
}

.pub-media li[data-type]::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(-2ch + -1 * var(--file-border-thickness));
  top: calc(-1 * var(--file-border-thickness));
  background-color: var(--darkgreen);
  width: calc(var(--file-width) + 2 * var(--file-border-thickness));
  height: calc(var(--file-height) + 2 * var(--file-border-thickness));
  z-index: -1;
  clip-path: polygon(0% 0%, 75% 0%, 100% 25%, 100% 100%, 0% 100%);
}

.pub-media li[data-type="slides"]::before {
  content: "P";
}

.pub-media li[data-type="video"]::before {
  content: "\25b8";
}

/* Music */
audio {
  display: block;
  background-color: var(--darkblue);
  margin: var(--music-player-margin) 0;
  border: var(--music-border-thickness) solid var(--darkgreen);
}

/* Projects */
.project figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: var(--project-thumb-gap);
}

.project img {
  width: var(--project-thumb-size);
}

.project figcaption {
  max-width: var(--project-caption-size);
}

/* Syntax Highlighting */
pre.coq-syntax {
  overflow-x: auto;
}

code .kwd {
  color: var(--teal);
}

code .ident {
  color: var(--palepink);
}

code .tactic {
  color: var(--yellow);
}

code .oper {
  color: var(--purple);
}

code .number {
  color: var(--pink);
}
